
obj/COVID19.NET.csproj.nuget.cache
obj/COVID19.NET.csproj.nuget.dgspec.json
obj/COVID19.NET.csproj.nuget.g.props
obj/COVID19.NET.csproj.nuget.g.targets
obj/Debug/netstandard2.0/COVID19.NET.AssemblyInfo.cs
obj/Debug/netstandard2.0/COVID19.NET.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/COVID19.NET.assets.cache
obj/Debug/netstandard2.0/COVID19.NET.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/COVID19.NET.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/COVID19.NET.csprojAssemblyReference.cache
obj/Debug/netstandard2.0/COVID19.NET.dll
obj/Debug/netstandard2.0/COVID19.NET.pdb
obj/project.assets.json
obj/Release/COVID19.NET.1.0.0.nuspec
obj/Release/netstandard2.0/COVID19.NET.AssemblyInfo.cs
obj/Release/netstandard2.0/COVID19.NET.AssemblyInfoInputs.cache
obj/Release/netstandard2.0/COVID19.NET.assets.cache
obj/Release/netstandard2.0/COVID19.NET.csproj.CoreCompileInputs.cache
obj/Release/netstandard2.0/COVID19.NET.csproj.FileListAbsolute.txt
obj/Release/netstandard2.0/COVID19.NET.csprojAssemblyReference.cache
obj/Release/netstandard2.0/COVID19.NET.dll
obj/Release/netstandard2.0/COVID19.NET.pdb
bin/Debug/netstandard2.0/COVID19.NET.deps.json
bin/Debug/netstandard2.0/COVID19.NET.dll
bin/Debug/netstandard2.0/COVID19.NET.pdb
bin/Debug/netstandard2.0/publish/COVID19.NET.1.0.0.nupkg
bin/Debug/netstandard2.0/publish/COVID19.NET.deps.json
bin/Debug/netstandard2.0/publish/COVID19.NET.dll
bin/Debug/netstandard2.0/publish/COVID19.NET.pdb
bin/Debug/netstandard2.0/publish/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/netstandard2.0/publish/System.Buffers.dll
bin/Debug/netstandard2.0/publish/System.Memory.dll
bin/Debug/netstandard2.0/publish/System.Numerics.Vectors.dll
bin/Debug/netstandard2.0/publish/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/netstandard2.0/publish/System.Text.Encodings.Web.dll
bin/Debug/netstandard2.0/publish/System.Text.Json.dll
bin/Debug/netstandard2.0/publish/System.Threading.Tasks.Extensions.dll
bin/Release/netstandard2.0/COVID19.NET.deps.json
bin/Release/netstandard2.0/COVID19.NET.dll
bin/Release/netstandard2.0/COVID19.NET.pdb
TheVirusTracker/COVID19.NET.xml
Properties/PublishProfiles/FolderProfile.pubxml
Properties/PublishProfiles/FolderProfile.pubxml.user
